.image-row {
    display: inline-flex;
}


.image-row > .img-selector.selected > .row-img {
    width: 250px;
}


.img-selector.selected {
    border: 5px solid transparent;
    border-color: blue;
    transform: translateY(-12%);
}

h2 {
    font-family: Roboto;
    font-size: xxx-large;
}