<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="src/slick.css"/>

    <link rel="stylesheet" href="src/base.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="src/slick.min.js"></script>
    <script src="src/video.min.js"></script>
</head>
<body>

<div class="content">
    {%- for categorie in items %}
    <h2>{{ categorie.title }}</h2>
    <div class="selector-row">
        <div id="carousel-row" class="carousel-{{ categorie.slug|lower }} {% if loop.index == 1 %}js-activeSlider{% endif %}">
            {%- for item in categorie.items %}
            <div id="img-{{ loop.index }}" class="img-selector s-slide">
                <div class="carousel-item carousel-item-{{ item.__class__.__name__|lower }}">
                    <p class="type">{{ item.__class__.__name__ }}</p>
                    <p class="title">{{ item.title }}</p>

                    {%- if item.__class__.__name__ == "Video"  %}
                    <source src=".{{ item.path }}" type="video/mp4" />
                    {% else %}
                    <div class="dias" style="display: none">
                    {%- for slide in item.items %}
                        <div><img src=".{{ slide }}"></div>
                    {%- endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {%- endfor %}
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $('.carousel-{{ categorie.slug|lower }}').slick({
            centerMode: true,
            infinite: false,
            arrows: false,
            variableWidth: true,
            centerPadding: '60px',
            slidesToShow: '{% if categorie.items|length - 1 < 5 %}{{ categorie.items|length - 1 }}{%- else %}5{%- endif %}',
            // slidesToShow: 1,
        });
    });
    </script>
    {%- endfor %}
</div>

<div class="video-overlay">
    <video id="videoplayer" class="video-js videoplayer" preload="auto" data-setup='{"fluid": true}'></video>
</div>

<div class="diashow">
    <div class="diashow-overlay">
    </div>
</div>

<script>
    $(window).on('beforeunload', function () {
        $(window).scrollTop(0);
    });
</script>
<script type="application/javascript">
    var FULLSCREEN = false;
    var player1 = videojs('videoplayer');
    var player0 = $('.diashow-overlay');


    function handleKeyDown(e) {
        var activeSlider = $(".js-activeSlider");
        if (!FULLSCREEN && e.key === "ArrowRight") {
            activeSlider.slick("slickNext");
        }
        if (!FULLSCREEN && e.key === "ArrowLeft") {
            activeSlider.slick("slickPrev");
        }
        if (!FULLSCREEN && e.key === "ArrowDown") {
            currentRow = activeSlider.parent();
            nextRow = $(currentRow.nextAll(".selector-row")[0]);
            if (nextRow.length === 0) {
                nextRow = $(currentRow.parent().children(".selector-row")[0]);
            }
            nextSlider = $(nextRow.children()[0]);
            activeSlider.removeClass("js-activeSlider");
            nextSlider.addClass("js-activeSlider");
            $('html, body').animate({
                scrollTop: nextSlider.offset().top - 100,
            }, 200);
        }
        if (!FULLSCREEN && e.key === "ArrowUp") {
            currentRow = activeSlider.parent();
            nextRow = $(currentRow.prevAll(".selector-row")[0]);
            if (nextRow.length === 0) {
                nextRow = $(currentRow.parent().children(".selector-row")[currentRow.parent().children(".selector-row").length - 1]);
            }
            nextSlider = $(nextRow.children()[0]);
            activeSlider.removeClass("js-activeSlider");
            nextSlider.addClass("js-activeSlider");
            $('html, body').animate({
                scrollTop: nextSlider.offset().top - 100,
            }, 200);
        }


        if (e.key === "Enter") {

            if (!FULLSCREEN) {
                var source = $(".js-activeSlider .slick-current >> source")[0];
                if (source === undefined){
                    var dias = $(".js-activeSlider .slick-current >> .dias").clone()
                    $('.diashow').show();
                    player0.slick({
                        dots: false,
                        pauseOnHover:false,
                        pauseOnFocus:false,
                        infinite: true,
                        autoplay: true,
                        autoplaySpeed: 6000,
                        fade: true,
                        cssEase: 'linear',
                        prevArrow: false,
                        nextArrow: false,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        initialSlide: 0,
                    });
                    player0.slick('slickAdd', dias.children());

                }
                else {
                    console.log({type: source.type, src: source.currentSrc})
                    player1.src([{type: source.type, src: source.src}]);
                    $(".video-overlay").show();
                    player1.play();
                }
                FULLSCREEN = true;

            } else {
                FULLSCREEN = false;
                if ($(".video-overlay").is(":visible")){
                    $(".video-overlay").hide();
                    player1.pause();
                    player1.currentTime(0);
                }
                else{
                    player0.slick('removeSlide', null, null, true);
                    player0.slick('unslick');
                    $('.diashow').hide();
                }
            }
        }

        if (FULLSCREEN && e.key === "ArrowLeft") {
            if ($(".video-overlay").is(":visible")){
                player1.currentTime(player1.currentTime() - 10);
            }
            else {
                player0.slick("slickPrev");
            }
        }
        if (FULLSCREEN && e.key === "ArrowRight") {
            if ($(".video-overlay").is(":visible")){
                player1.currentTime(player1.currentTime() + 10);
            }
            else {
                player0.slick("slickNext");
            }
        }
    }

    document.addEventListener('keydown', handleKeyDown);
</script>
</body>

</html>